{% extends 'blog/base.html' %}{% load static %} {% block title %}{{title|title}}{% endblock %}
<div></div>
{% block content %}

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-9" data-aos="fade-up">
				<h3 class="category-title">Category: {{category}}</h3>

				{% for post in posts %}
				<div></div>
				{% if forloop.counter < 6 %}
				<div class="d-md-flex post-entry-2 half">
					<a href="{{post.get_absolute_url}}" class="me-4 thumbnail">
						<img src="{{post.image.url}}" alt="" class="img-fluid" />
					</a>
					<div>
						<div class="post-meta">
							<span class="date">{{post.category}}</span>
							<span class="mx-1">&bullet;</span> <span>{{post.date_updated}}</span>
						</div>
						<h3>
							<a href="{{post.get_absolute_url}}">{{post.title}}</a>
						</h3>
						<p>{{post.content|truncatewords:40}}</p>
						<!-- <div class="d-flex align-items-center author">
							<div class="photo">
								<img
									src="{% static 'blog/assets/img/person-2.jpg' %}"
									alt=""
									class="img-fluid"
								/>
							</div>
							<div class="name">
								<h3 class="m-0 p-0">{{post.author}}</h3>
							</div>
						</div> -->
					</div>
				</div>
				{% endif %} {% endfor %}

				<div class="text-start py-4">
					<div class="custom-pagination">
						<a href="#" class="prev">Prevous</a>
						<a href="#" class="active">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#">4</a>
						<a href="#">5</a>
						<a href="#" class="next">Next</a>
					</div>
				</div>
			</div>

			<!-- ======= Sidebar ======= -->
			{% include 'blog/sidebar.html' %}
		</div>
	</div>
</section>

<!-- End #main -->
{% endblock content %}
