{% extends 'blog/base.html' %} {% load static %}{% block title %}{{title|title}}{% endblock %}
<div></div>
{% block content %}

<!-- ======= Hero Slider Section ======= -->
<section id="hero-slider" class="hero-slider">
	<div class="container-md" data-aos="fade-in">
		<div class="row">
			<div class="col-12">
				<div class="swiper sliderFeaturedPosts">
					<div class="swiper-wrapper">
						{% for post in posts %} {% if forloop.counter < 5 and post.image%}
						<div class="swiper-slide">
							<a
								href="{{post.get_absolute_url}}"
								class="img-bg d-flex align-items-end"
								style="
									background-image: url({{post.image.url}});
								"
							>
								<div class="img-bg-inner">
									<h2>{{post.title}}</h2>
									<p>{{post.content |safe| truncatewords:30}}</p>
								</div>
							</a>
						</div>
						{% endif %} {% endfor %}
					</div>
					<div class="custom-swiper-button-next">
						<span class="bi-chevron-right"></span>
					</div>
					<div class="custom-swiper-button-prev">
						<span class="bi-chevron-left"></span>
					</div>

					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Hero Slider Section -->

<!-- ======= Post Grid Section ======= -->
{% if posts %}
<section id="posts" class="posts">
	<div class="container" data-aos="fade-up">
		<div class="row g-5">
			<div class="col-lg-4">
				<div class="post-entry-1 lg">
					<a href="{{posts.0.get_absolute_url}}"
						><img src="{{posts.0.image.url}}" alt="top-post-image" class="img-fluid"
					/></a>
					<div class="post-meta">
						<span class="date">{{posts.0.category}}</span>
						<span class="mx-1">&bullet;</span>
						<span>{{posts.0.date_updated|date:'M jS Y'}}</span>
					</div>
					<h2>
						<a href="{{posts.0.get_absolute_url}}">{{posts.0.title}}</a>
					</h2>
					<p class="mb-4 d-block">{{posts.0.content |safe| truncatewords:100}}</p>
				</div>
			</div>

			<div class="col-lg-8">
				<div class="row g-5">
					<div class="col-lg-4 border-start custom-border">
						{% for post in posts %} {% if forloop.counter > 1 and forloop.counter < 5 %}
						<div class="post-entry-1">
							<a href="{{post.get_absolute_url}}"
								><img src="{{post.image.url}}" alt="" class="img-fluid"
							/></a>
							<div class="post-meta">
								<span class="date">{{post.category}}</span>
								<span class="mx-1">&bullet;</span>
								<span>{{post.date_updated|date:'M jS Y'}}</span>
							</div>
							<h2>
								<a href="{{post.get_absolute_url}}">{{post.title}}</a>
							</h2>
						</div>
						{% endif %} {% endfor %}
					</div>
					<div class="col-lg-4 border-start custom-border">
						{% for post in posts %} {% if forloop.counter > 4 and forloop.counter < 8 %}

						<div class="post-entry-1">
							<a href="{{post.get_absolute_url}}"
								><img src="{{post.image.url}}" alt="" class="img-fluid"
							/></a>
							<div class="post-meta">
								<span class="date">{{post.category}}</span>
								<span class="mx-1">&bullet;</span>
								<span>{{post.date_updated|date:'M jS Y'}}</span>
							</div>
							<h2>
								<a href="{{post.get_absolute_url}}">{{post.title}}</a>
							</h2>
						</div>
						{% endif %} {% endfor %}
					</div>

					<!-- Trending Section -->
					<div class="col-lg-4">
						<div class="trending">
							<h3>Archives</h3>
							{% for post in posts reversed %}
							<div></div>
							{% if forloop.counter > 0 and forloop.counter < 8 %}

							<ul class="trending-post">
								<li>
									<a href="{{post.get_absolute_url}}">
										<span class="number">{{forloop.counter}}</span>
										<h3>{{ post.title }}</h3>
										<span class="author"></span>
									</a>
								</li>
							</ul>
							{% endif %} {% endfor %}
						</div>
					</div>
					<!-- End Trending Section -->
				</div>
			</div>
		</div>
		<!-- End .row -->
	</div>
</section>
{% endif %}
<!-- End Post Grid Section -->

<!-- ======= Chat Category Section ======= -->
{% if programming_posts %}
<section class="category-section">
	<div class="container" data-aos="fade-up">
		<div class="section-header d-flex justify-content-between align-items-center mb-5">
			<h2>Programming</h2>
			<div><a href="{% url 'blog_prog' %}" class="more">See All</a></div>
		</div>

		<div class="row">
			<div class="col-md-9">
				<div class="d-lg-flex post-entry-2">
					<a
						href="{{programming_posts.0.get_absolute_url}}"
						class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block"
					>
						<img src="{{programming_posts.0.image.url}}" alt="" class="img-fluid" />
					</a>
					<div>
						<div class="post-meta">
							<span class="date">{{programming_posts.0.category}}</span>
							<span class="mx-1">&bullet;</span>
							<span>{{programming_posts.0.date_updated|date:'M jS Y'}}</span>
						</div>
						<h3>
							<a href="{{programming_posts.0.get_absolute_url}}"
								>{{programming_posts.0.title}}</a
							>
						</h3>
						<p>{{programming_posts.0.content |safe|truncatewords:50}}</p>
						<!-- <div class="d-flex align-items-center author">
							<div class="photo">
								<img
									src="static/blog/assets/img/person-2.jpg"
									alt=""
									class="img-fluid"
								/>
							</div>
							<div class="name">
								<h3 class="m-0 p-0">Wade Warren</h3>
							</div>
						</div> -->
					</div>
				</div>

				<div class="row">
					<div class="col-lg-4">
						<div class="post-entry-1 border-bottom">
							<a href="{{programming_posts.1.get_absolute_url}}"
								><img
									src="{{programming_posts.1.image.url}}"
									alt=""
									class="img-fluid"
							/></a>
							<div class="post-meta">
								<span class="date">{{programming_posts.1.category}}</span>
								<span class="mx-1">&bullet;</span>
								<span>{{programming_posts.1.date_updated|date:'M jS Y'}}</span>
							</div>
							<h2 class="mb-2">
								<a href="{{programming_posts.1.get_absolute_url}}"
									>{{programming_posts.1.title}}</a
								>
							</h2>
							<!-- <span class="author mb-3 d-block">Jenny Wilson</span> -->
							<p class="mb-4 d-block">
								{{programming_posts.1.content |safe|truncatewords:20}}
							</p>
						</div>

						<div class="post-entry-1">
							<div class="post-meta">
								<span class="date">{{programming_posts.3.category}}</span>
								<span class="mx-1">&bullet;</span>
								<span>{{programming_posts.3.date_updated|date:'M jS Y'}}</span>
							</div>
							<h2 class="mb-2">
								<a href="{{programming_posts.3.get_absolute_url}}"
									>{{programming_posts.3.title}}</a
								>
							</h2>
							<!-- <span class="author mb-3 d-block">Jenny Wilson</span> -->
							<p class="mb-4 d-block">
								{{programming_posts.3.content |safe|truncatewords:20}}
							</p>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="post-entry-1">
							<a href="{{programming_posts.2.get_absolute_url}}"
								><img
									src="{{programming_posts.2.image.url}}"
									alt=""
									class="img-fluid"
							/></a>
							<div class="post-meta">
								<span class="date">{{programming_posts.2.category}}</span>
								<span class="mx-1">&bullet;</span>
								<span>{{programming_posts.2.date_updated|date:'M jS Y'}}</span>
							</div>
							<h2 class="mb-2">
								<a href="{{programming_posts.2.get_absolute_url}}"
									>{{programming_posts.2.title}}</a
								>
							</h2>
							<!-- <span class="author mb-3 d-block">Jenny Wilson</span> -->
							<p class="mb-4 d-block">
								{{programming_posts.2.content |safe|truncatewords:20}}
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				{% for post in programming_posts %} {% if forloop.counter > 4 %}
				<div class="post-entry-1 border-bottom">
					<div class="post-meta">
						<span class="date">{{post.category}}</span>
						<span class="mx-1">&bullet;</span>
						<span>{{post.date_updated|date:'M jS Y'}}</span>
					</div>
					<h2 class="mb-2">
						<a href="{{post.get_absolute_url}}">{{post.title}}</a>
					</h2>
					<!-- <span class="author mb-3 d-block">Jenny Wilson</span> -->
				</div>
				{% endif %} {% endfor %}
			</div>
		</div>
	</div>
</section>
{% endif %}
<!-- End Chat Category Section -->

<!-- ======= Tutorial Category Section ======= -->
{% if tutorial_posts %}
<section class="category-section">
	<div class="container" data-aos="fade-up">
		<div class="section-header d-flex justify-content-between align-items-center mb-5">
			<h2>Tutorial</h2>
			<div><a href="{% url 'blog_tut' %}" class="more">See All</a></div>
		</div>

		<div class="row g-5">
			<div class="col-lg-4">
				<div class="post-entry-1 lg">
					<a href="{{tutorial_posts.0.get_absolute_url}}"
						><img src="{{tutorial_posts.0.image.url}}" alt="" class="img-fluid"
					/></a>
					<div class="post-meta">
						<span class="date">{{tutorial_posts.0.category}}</span>
						<span class="mx-1">&bullet;</span>
						<span>{{tutorial_posts.0.date_updated|date:'M jS Y'}}</span>
					</div>
					<h2>
						<a href="{{tutorial_posts.0.get_absolute_url}}"
							>{{tutorial_posts.0.title}}</a
						>
					</h2>
					<p class="mb-4 d-block">{{tutorial_posts.0.content|safe|truncatewords:50}}</p>
				</div>
				{% for post in tutorial_posts %} {%if forloop.counter > 1 and forloop.counter < 4%}
				<div class="post-entry-1 border-bottom">
					<div class="post-meta">
						<span class="date">{{post.category}}</span>
						<span class="mx-1">&bullet;</span>
						<span>{{post.date_updated|date:"M jS Y"}}</span>
					</div>
					<h2 class="mb-2">
						<a href="{{post.get_absolute_url}}">{{post.title}}</a>
					</h2>
					<!-- <span class="author mb-3 d-block">Jenny Wilson</span> -->
					<p class="mb-4 d-block">{{post.content |safe|truncatewords:30}}</p>
				</div>
				{% endif %} {% endfor %}
			</div>

			<div class="col-lg-8">
				<div class="row g-5">
					<br />

					<div class="col-lg-4 border-start custom-border">
						{% for post in tutorial_posts %}
						<div></div>
						{%if forloop.counter > 3 and forloop.counter < 7%}
						<div class="post-entry-1">
							<a href="{{post.get_absolute_url}}"
								><img src="{{post.image.url}}" alt="" class="img-fluid"
							/></a>
							<div class="post-meta">
								<span class="date">{{post.category}}</span>
								<span class="mx-1">&bullet;</span>
								<span>{{post.date_updated|date:'M jS Y'}}</span>
							</div>
							<h2>
								<a href="{{post.get_absolute_url}}">{{post.title}}</a>
							</h2>
						</div>
						{% endif %} {% endfor %}
					</div>

					<div class="col-lg-4 border-start custom-border">
						{% for post in tutorial_posts %}
						<div></div>
						{%if forloop.counter > 6 and forloop.counter < 10%}
						<div class="post-entry-1">
							<a href="{{post.get_absolute_url}}"
								><img src="{{post.image.url}}" alt="" class="img-fluid"
							/></a>
							<div class="post-meta">
								<span class="date">{{post.category}}</span>
								<span class="mx-1">&bullet;</span>
								<span>{{post.date_updated|date:'M jS Y'}}</span>
							</div>
							<h2>
								<a href="{{post.get_absolute_url}}">{{post.title}}</a>
							</h2>
						</div>
						{% endif %} {% endfor %}
					</div>
					<div class="col-lg-4">
						{% for post in tutorial_posts %}
						<div></div>
						{%if forloop.counter > 9 and forloop.counter < 18%}
						<div class="post-entry-1 border-bottom">
							<div class="post-meta">
								<span class="date">{{post.category}}</span>
								<span class="mx-1">&bullet;</span>
								<span>{{post.date_updated|date:'M jS Y'}}</span>
							</div>
							<h2 class="mb-2">
								<a href="{{post.get_absolute_url}}">{{post.title}}</a>
							</h2>
							<!-- <span class="author mb-3 d-block">Jenny Wilson</span> -->
						</div>
						{% endif %} {% endfor %}
					</div>
				</div>
			</div>
		</div>
		<!-- End .row -->
	</div>
</section>
{% endif %}
<!-- End Lifestyle Category Section -->

<!-- End #main -->
{% endblock content %}
